@import '~bootstrap/scss/bootstrap';

.footer {
    margin-top: 80px;

    .icons-list {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 45px auto;

        li {
            display: inline-block;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .link {
        text-transform: uppercase;
    }

    .copy {
        margin: 0 auto;
        text-align: center;
    }
}